.footer{
    box-sizing: border-box;
    margin-top: 106px;
    width: 1820px;
    height: 741px;
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 2px solid #262626;
    border-radius: 12px;
    /* justify-content: center; */
    justify-self: center;
    -webkit-box-shadow: 6px 6px 0px 2px #1E1E1E;
    -moz-box-shadow: 6px 6px 0px 2px #1E1E1E;
    box-shadow: 6px 6px 0px 2px #1E1E1E;
}
.foot_cont1{
    display: flex;
    flex-direction: row;
    margin: 100px auto 50px 113px;
}
.foot_cont1_sub1{
    display: flex;
    flex-direction: column;
    width: 519px;
}
.foot_cont1_sub1_lit{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: "Outfit";
    font-size: 20px;
    font-weight: 500;
}
.foot_paragraph{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.foot_cont1_sub1_conn{
    display: flex;
    flex-direction: column;
    width: 519px;
    margin-top: 26px;
    column-gap: 24px;
}
.flexrow{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-top: 24px;
}
.foot_mail{
    font-size: 20px;
    font-weight: 500;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #262626;
    background-color: #FFF5F0;
    border-radius: 6px;
}

.foot_text{
    font-weight: 500;
    font-size: 20px;
    font-family: "Outfit";

}
.foot_cont1_sub2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
}
.foot_home_column, .foot_about_column, .foot_academics_column, .foot_contact_column{
    display: flex;
    flex-direction: column;
    width: 227px;
}
.foot_cont1_sub2_home, .foot_cont1_sub2_about, .foot_cont1_sub2_academics, .foot_cont1_sub2_contacts{
    font-weight: 600;
    margin-bottom: 24px;
}
.sp{
    margin-bottom: 14px;
}
.foot_cont2{
    display: flex;
    flex-direction: row;
    /* justify-self: center; */
    margin-left: 113px;
    width: 1594px;
    height: 116px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    justify-content: space-between;
    align-items: center;
}
.bd{
    border-right: 1px solid #262626;
    border-left: 1px solid #262626;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.foot_cont2_links{
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.foot_cont2_text{
    font-size: 18px;
    font-weight: 500;
}
.box2{
    display: flex;
    width: 56px;
    height: 56px;
    border: 2px solid #262626;
    border-radius: 8px;
    background-color: #FFDECC;
    justify-content: center;
    align-items: center;
}
.foot_row1, .foot_row2{
    display: flex;
    flex-direction: row;
}
.foot_copyrights{
    margin-top: 40px;
    color: #656567;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

@media (max-width:1919px) {
    .footer{
        width: 358px;
        height: auto;
    }
    .foot_cont1{
        flex-direction: column;
        margin-top: 60px;
        margin-left: 30px;
        width: 298px;
    }
    .foot_cont1_sub1{
        width: 298px;
        
    }
    .foot_cont1_sub1_lit{
        width: 298px;
        justify-self: center;
        padding-left: 61px;
        font-size: 16px;
    }
    .foot_row1{
        margin-top: 40px;
    }
    .foot_paragraph{
        text-align: center;
        font-size: 16px;
    }
    .foot_cont1_sub2{
        flex-direction: column;
    }
    .foot_cont2{
        flex-direction: column;
        width: 298px;
        margin-left: 30px;
        height: auto;
    }
    .foot_cont2_text{
        width: 310px;
        height: auto;
        font-size: 14px;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .bd{
        margin-left: 6px;
        margin-right: 6px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .foot_cont2_links{
        margin-bottom: 16px;
    }
    .foot_copyrights{
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
    }
}